<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div th:fragment="commonHeader">

    <header class="bg-dark text-white d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom">
        <h3>
            <a href="/home" class="text-nowrap d-flex align-items-center col-md-3 text-white text-decoration-none px-1 py-1 mx-1 my-1">
                Chat-Demo
            </a>
        </h3>

        <!-- 로그인 상태일 때 -->
        <div sec:authorize="isAuthenticated()">
            <p><span class="nav-item px-1 py-1" sec:authentication="name"></span> 님!</p>
            <form th:action="@{/users/logout}" method="post" class="nav-item px-1 py-1">
                <button class="btn btn-primary" id="write-board" type="submit">Logout member</button>
            </form>
        </div>

        <div sec:authorize="isAnonymous()" class="ms-auto me-2">
            <div class="d-flex flex-column align-items-end">
                <div class="nav-item px-1 py-1">
                    <button class="btn btn-primary" id="write-board" type="button" onclick="location.href='/users/login'">Login Member</button>
                </div>
                <div class="nav-item px-1 py-1">
                    <button class="btn btn-success" id="write-board" type="button" onclick="location.href='/users/join'">Join Member</button>
                </div>
            </div>
        </div>
    </header>

</div>
</body>
</html>