<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
<div th:fragment="commonHeader">

    <header class="bg-dark text-white d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom">
        <h3>
            <a href="/home" class="d-flex align-items-center col-md-3 text-white text-decoration-none px-1 py-1 mx-1 my-1">
                Chat-Demo
            </a>
        </h3>

        <div class="nav col-md-3 px-1">
            <div class="nav-item px-1 py-1">
                <button class="btn btn-primary" id="write-board" type="button" onclick="location.href='/users/login'">Login Member</button>
            </div>
            <div class="nav-item px-1 py-1">
                <button class="btn btn-success me-2" id="write-board" type="button" onclick="location.href='/users/join'">Join Member</button>
            </div>
        </div>
    </header>

</div>
</body>
</html>