<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0"/>

    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <div sec:authorize="isAuthenticated()">
            <p>안녕하세요, <span sec:authentication="name"></span> 님!</p>
        </div>
    </div>
</body>
</html>